h1 {
  color: teal;
  font-size: 300%;
}

h2 {
  color: grey;
}

#header {
  color: teal;
  display: flex;
  gap: 2.5em;
  align-items: center;
}

#header span {
  font-size: 125%;
  font-weight: bold;
}

#header a {
  color: teal;
  text-decoration: none;
}

#header a:hover {
  color: teal;
  text-decoration: underline;
}

.ialogo {
  background-color: black;
  text-align: center;
  padding: 2px;
  height: 32px;
  width: 32px;
  display: inline-block;
}

#footer {
  text-align: right;
  padding: 1em;
  /*background-color: rgba(0,0,0,.1);*/
  font-style: oblique;
}

.centered {
  text-align: center;
}

input[type=search] {
  -webkit-appearance: none;
  padding-left: 0.5em;
  font-size:150%;
  height:66px;
}

input[name=width], input[name=height] {
  width: 60px;
}

form button {
  background: url(search.gif);
  background-size:cover;
  vertical-align: top;
  width:300px;
  height:66px;
  margin-bottom:16px;
}

fieldset {
  display: inline;
}

.blurb {
  font-size: 100%;
}

.guttered {
  padding-left: 40px;
  padding-right: 60px;
  font-size: 130%;
  line-height: 1.5em;
}

#results img {
  margin: 0.2em;
}

#results.nojs {
  display: flex;
  flex-wrap: wrap;
}

#results.nojs .result {
  padding: 5px;
}

#pagination {
  text-align: center;
  font-style: oblique;
  margin-top:25px;
}

#pagination span {
  vertical-align: top;
  font-size: 180%;
}

#special-intro {
  display: flex;
  margin: 2em;
}

#special-about {
  max-width: 35%;
}

#special-form {
  padding-top: 3em;
}
